.visible{
			height: 400px;
			padding: 70px;
}
.title{
		font-size: 56px;
		color: white;
		font-weight: 600;
}
.visible p{
			color: lemonchiffon;
			font-size: 30px;
			padding-top: 10px;
}
.visible button{
					height: 40px;
					color: white;
					background: none;
					font-size: 22px;
					padding: 5px 30px;
					margin-top: 20px;
					border: 2px solid crimson;
					border-radius: 5px;
					cursor: pointer;
					transition: .4s ease;
}
.visible button a{
					text-decoration: none;
					color: white;
}
.visible button:hover{
						background: crimson;
						border: 2px solid crimson;
}